.tickets-grid{
    display: grid;
    grid-template-columns: clamp(8rem, 4.8rem + 19.2vw, 20rem) clamp(8rem, 4.8rem + 19.2vw, 20rem);
    grid-template-rows: clamp(5rem, 3rem + 12vw, 12.5rem) clamp(5rem, 3rem + 12vw, 12.5rem);
    grid-gap: 10px;
}
.tickets-contain{
    display:flex;
    justify-content: center;
}
@media (min-width: 1200px) {
    .tickets-grid{
        display: flex;
        justify-content: space-between;
    }
}